@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:wght@400;600&display=swap');

html,
body,
#root {
  height: 100%;
}

.card:hover .card-image {
  height: 14.5rem;
}

.tv-card:hover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

@media (min-width: 768px) {
  .card-headline {
    grid-area: 1 / 1 / span 1 / span 2;
  }
}

@media (min-width: 1024px) {
  .card-headline {
    grid-area: 1 / 1 / span 2 / span 2;
  }
}
